.header {
    box-shadow: unset;

    .header-right{

        .login-info {

            .nav-link {
                font-size: 16px;
                font-weight: 700;

                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 15px;
                }
            }

            .header-menu {
                margin-top: 15px;
                padding: 0px;
                border-radius: 10px;
                filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.25));

                a {
                    font-size: 18px;
                    padding: 7px 15px;
                    line-height: 1.75;
                    font-weight: 400;

                    &:first-child {
                        border-radius: 10px 10px 0 0;
                    }

                    &:last-child {
                        border-radius: 0 0 10px 10px;
                    }

                    &:hover {
                        background: #F5F5F5;
                        color: #131340;
                    }
                }

                a:first-child {
                    border-bottom: none;
                }

            }
        }
    }
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(19, 19, 64, 0.3) !important;
    opacity: 1 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(19, 19, 64, 0.3) !important;
    opacity: 1 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(19, 19, 64, 0.3) !important;
    opacity: 1 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(19, 19, 64, 0.3) !important;
    opacity: 1 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(19, 19, 64, 0.3) !important;
    opacity: 1 !important;
}
::placeholder { /* Most modern browsers support this now. */
    color: rgba(19, 19, 64, 0.3) !important;
    opacity: 1 !important;
}

input.form-control {
    border-color: #C9D6DF;
    border-radius: 5px;
    height: 52px;
    padding: 10px 15px;
    font-size: 18px;

    &.fulled-status {
        border-color: #8C9FAB;
    }

    &:hover {
        border-color: #8C9FAB;
    }

    &:focus {
        box-shadow: 0px 0px 8px rgba(92, 163, 246, 0.4);
        border-color: #5CA3F6;
    }
}

textarea.form-control {
    border-color: #C9D6DF;
    border-radius: 5px;

    &.fulled-status {
        border-color: #8C9FAB;
    }

    &:hover {
        border-color: #8C9FAB;
    }

    &:focus {
        box-shadow: 0px 0px 8px rgba(92, 163, 246, 0.4);
        border-color: #5CA3F6;
    }
}

select.form-control {
    border-color: #C9D6DF;
    border-radius: 5px;
    height: 52px;
    
    &.fulled-status {
        border-color: #8C9FAB;
    }

    &:hover {
        border-color: #8C9FAB;
    }

    &:focus {
        box-shadow: 0px 0px 8px rgba(92, 163, 246, 0.4);
        border-color: #5CA3F6;
    }
}

.form-control:focus-visible {
    text-shadow: none !important;
}

.form-control:-moz-focusring {
    text-shadow: none !important;
}

body {
    line-height: 1.75;
    letter-spacing: 0.1em;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.75;
    letter-spacing: 0.1em;
}
.btn {
    font-size: 18px;
    line-height: 1.75;
    letter-spacing: 0.1em;
}
.btn:focus, .btn.focus {
    box-shadow: unset;
}
.form-modal-wrapper {
    top: 50px;
    
    .form-modal-content {

        .form-modal-body {

            .scroll-modal-body {
                height: calc(100vh - 280px);
                width: unset;
                position: relative;
                min-height: 400px;
                padding: 0 10px;
            }
        }
        
        .form-modal-footer {
            border-top: none;
            padding: 20px 0 30px;

            button {
                padding: 5px 30px;
            }
        }
    }
}