.header {
    box-shadow: unset;

    .header-right{

        .login-info {

            .nav-link {
                font-size: 16px;
                font-weight: 700;
                padding: 0 30px 0 0;

                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 15px;
                }

                &.dropdown-toggle {
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 5px;
                        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L6 6.5L11 1.5' stroke='%23757296' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        top: 13px;
                        right: 0;
                        border: none;
                        background-size: cover;
                        background-position: center;
                    }
                }
            }

            .header-menu {
                margin-top: 15px;
                padding: 0px;
                border-radius: 10px;
                filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.25));

                a {
                    font-size: 18px;
                    padding: 7px 15px;
                    line-height: 1.75;
                    font-weight: 400;

                    &:first-child {
                        border-radius: 10px 10px 0 0;
                    }

                    &:last-child {
                        border-radius: 0 0 10px 10px;
                    }

                    &:hover {
                        background: #F5F5F5;
                        color: #131340;
                    }
                }

                a:first-child {
                    border-bottom: none;
                }

            }
        }
    }
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(19, 19, 64, 0.3) !important;
    opacity: 1 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(19, 19, 64, 0.3) !important;
    opacity: 1 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(19, 19, 64, 0.3) !important;
    opacity: 1 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(19, 19, 64, 0.3) !important;
    opacity: 1 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(19, 19, 64, 0.3) !important;
    opacity: 1 !important;
}
::placeholder { /* Most modern browsers support this now. */
    color: rgba(19, 19, 64, 0.3) !important;
    opacity: 1 !important;
}

input.form-control {
    border-color: #C9D6DF;
    border-radius: 5px;
    height: 52px;
    padding: 10px 15px;
    font-size: 18px;

    &.fulled-status {
        border-color: #8C9FAB;
    }

    &:hover {
        border-color: #8C9FAB;
    }

    &:focus {
        box-shadow: 0px 0px 8px rgba(92, 163, 246, 0.4);
        border-color: #5CA3F6;
    }
}

textarea.form-control {
    border-color: #C9D6DF;
    border-radius: 5px;

    &.fulled-status {
        border-color: #8C9FAB;
    }

    &:hover {
        border-color: #8C9FAB;
    }

    &:focus {
        box-shadow: 0px 0px 8px rgba(92, 163, 246, 0.4);
        border-color: #5CA3F6;
    }
}

select.form-control {
    border-color: #C9D6DF;
    border-radius: 5px;
    height: 52px;
    padding-right: 30px;
    
    &.fulled-status {
        border-color: #8C9FAB;
    }

    &:hover {
        border-color: #8C9FAB;
    }

    &:focus {
        box-shadow: 0px 0px 8px rgba(92, 163, 246, 0.4);
        border-color: #5CA3F6;
    }
}

.form-control:focus-visible {
    text-shadow: none !important;
}

.form-control:-moz-focusring {
    text-shadow: none !important;
}

body {
    line-height: 1.75;
    letter-spacing: 0.1em;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.75;
    letter-spacing: 0.1em;
}
.btn {
    font-size: 18px;
    line-height: 1.75;
    letter-spacing: 0.1em;
}
.btn:focus, .btn.focus {
    box-shadow: unset;
}
.form-modal-wrapper {
    top: 50px;
    
    .form-modal-content {

        .form-modal-body {

            .scroll-modal-body {
                height: calc(100vh - 280px);
                width: unset;
                position: relative;
                min-height: 400px;
                padding: 0 10px;
            }
        }
        
        .form-modal-footer {
            border-top: none;
            padding: 20px 0 30px;

            button {
                padding: 5px 30px;
            }
        }
    }
}
.custom-pw-form-control {
    background-image: unset;
}
.pass-input-con {
    position: relative;

    .pass-input-con-mark {
        position: absolute;
        right: 15px;
        top: 13px;
    }
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.36602 10.5C6.98112 11.1667 6.01887 11.1667 5.63397 10.5L0.870834 2.25C0.485934 1.58333 0.96706 0.75 1.73686 0.75L11.2631 0.750001C12.0329 0.750001 12.5141 1.58333 12.1292 2.25L7.36602 10.5Z' fill='%238C9FAB'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 15px);
    background-position-y: 20px;
}
.multiselect__select::before {
    right: 7px;
    top: 18px;
    color: #8C9FAB;
    margin-top: 0;
    border-color: #8C9FAB transparent transparent;
    border-width: 10px 6px 0;
}

.was-validated input[type="password"].form-control:invalid, 
input[type="password"].form-control.is-invalid {
    background-image: unset;
}

.select2-con {
    padding: 1px;
    width: calc(100% - 2px);

    .select2-container--default {

        .select2-selection--single {
            border: 1px solid #C9D6DF;
            border-radius: 5px !important;
            height: 52px;

            .select2-selection__arrow {
                top: 12px;
                right: 15px;

                b {
                    border-width: 10px 6px 0 6px;
                    border-color: #8C9FAB transparent transparent transparent;
                }
            }

            .select2-selection__rendered {
                height: 100%;
                font-size: 18px;
                padding: 10px 15px;
            }
        }

        &.select2-container--open {

            .select2-selection--single {
                border: 1px solid #5CA3F6;
                box-shadow: 0px 0px 8px rgba(92, 163, 246, 0.4);
                
                .select2-selection__arrow {
                    
                    b {
                        border-width: 0 6px 10px 6px;
                        border-color: transparent transparent #8C9FAB transparent;
                    }
                }
            }
        }
    }
}

.select2-container--default {

    .select2-dropdown {
        margin-top: 15px;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
        padding: 25px 30px 35px;

        .select2-search--dropdown {
            input.select2-search__field {
                border-radius: 0;
                border-top: none;
                border-right: none;
                border-left: none;
                border-bottom: 2px solid #5CA3F6;
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0833 17.4167C14.1334 17.4167 17.4167 14.1334 17.4167 10.0833C17.4167 6.03325 14.1334 2.75 10.0833 2.75C6.03325 2.75 2.75 6.03325 2.75 10.0833C2.75 14.1334 6.03325 17.4167 10.0833 17.4167Z' stroke='%235CA3F6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.25 19.2502L15.2625 15.2627' stroke='%235CA3F6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: left;
                padding-left: 35px;
                background-position-x: 10px;
    
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}