.auth-wrapper {
    padding: 0;
    display: flex;
    background-color: #F2F5F9;
    line-height: 1.75;
    letter-spacing: 0.1em;

    .auth--wrapper {
        width: 800px;
        height: 500px;
        max-width: 100%;
        max-height: 100%;
        display: flex;

        .auth-form {
            max-width: 400px;
            padding: 0;

            .auth-title {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 45px;

                &.reset-password-title {
                    margin-left: -25px;
                    margin-right: -25px;
                }
            }

            .form-group {
                margin-bottom: 20px;

                .col-form-label {
                    font-size: 16px;
                    color: #5F6377;
                    line-height: 1.75;
                    padding: 0 0 5px;
                }

                &.pass-form-grp {
                    margin-bottom: 5px;
                }
            }

            .forgot-link {
                font-size: 12px;
                font-weight: bold;
                color: #5F6377;
            }

            .auth-btn--wrapper {
                margin-top: 50px;

                &.register-btn--wrapper {
                    margin-top: 75px;
                }
                
                .btn {
                    min-width: unset;
                    padding: 5px 30px;
                    font-size: 18px;
                }

                &.reset-btn {
                    margin-top: 65px;
                }
            }
        }

        .forgetpw-form {
            margin: auto;
            max-width: 400px;

            .auth-title {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 80px;
                text-align: center;

                &.confirm-title {
                    margin-bottom: 70px;
                }
            }

            .forget-desc {
                font-size: 18px;
                white-space: nowrap;
            }

            .caseinfo-title {
                color: #5F6377;
                font-size: 16px;
                padding: 0;
                margin: 18px 0 5px;
            }

            .form-group {
                margin-bottom: 80px;
            }

            .btn {
                padding: 5px 30px;
                font-size: 18px;
            }

            &.confirm-form {
                max-width: 477px;

                p {
                    font-size: 18px;
                    line-height: 1.5;
                }

                .auth-btn--wrapper {
                    margin-top: 65px;
                    margin-left: -15px;
                    margin-right: -15px;

                    .non-bootstrap-btn {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}