.main-in {
    &.question-detail-main-in {
        padding: 110px 80px 72px;
        line-height: 1.75;
        letter-spacing: 0.1em;

        .main-content {
            padding: 50px;
            position: relative;

            .link-list-btn {
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: #FFF;
                top: -45px;
                left: -50px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background: #DFEEFF;
                    opacity: 1;

                    path {
                        fill: #5CA3F6;
                    }
                }
            }

            .page-title {
                font-size: 32px;
                font-weight: bold;
                margin-bottom: 15px;
            }

            .avatar-container {
                display: flex;

                .avatar-img {
                    width: 45px;
                    height: 45px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-right: 15px;
                }

                .avatar-detail {

                    .user-name {
                        font-size: 16px;
                        color: #131340;
                    }

                    .user-birthday {
                        font-size: 12px;
                        color: #8D909E;
                        line-height: 1;
                    }
                }
            }

            .icon-grp {
                align-items: center;
                font-size: 16px;
                color: #8D909E;

                p {

                    &.like-cnt {
                        margin-right: 15px;
                    }
                }
            }

            .question-con {
                font-size: 18px;
                margin: 20px 0 30px;
            }

            .category-grp {
                margin-bottom: 30px;

                .selected-treat-subcategory {
                    display: inline-block;
                    padding: 3px 10px;
                    margin: 0 5px 0px;
                    background-color: #E2F0FF;
                    border-radius: 3px;

                    .selected-option {
                        font-size: 14px;
                        padding: 0;
                        // margin: 0 5px;
                        color: #5CA3F6;
                    }
                }
            }

            .more-add-image-container {
                position: relative;

                .more-add-image-clicker {
                    position: absolute;
                    z-index: 999;
                    bottom: 7px;
                    left: 13.6px;
                }

                textarea.comment-area {
                    background: #F5F5F5;
                }
            }

            .file-upload-answer-con {
                margin-top: 50px;

                .vue-dropzone {
                    background: rgba(0, 0, 0, 0.4);
                    border-radius: 7px;
                    color: #FFF;
                    font-size: 24px;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                }

                .dz-preview {

                    .dz-image{

                        img {
                            width: 100px;
                            height: 100px;
                            object-fit: cover;
                        }
                    }

                    .dz-remove {
                        opacity: 1;
    
                        &::before {
                            background: url("/img/img-x-black.png") no-repeat center;
                        }
                    }

                    &:hover {
                        .dz-remove {
                            text-decoration: none;
                        }
                    }
                }
            }

            .add-answer-btn {
                padding: 5px 30px;
                font-size: 16px;
                border-radius: 3px;
                line-height: 1.75;
                margin-top: 10px;
            }

            .answer-cnt-con {
                font-size: 20px;
                font-weight: bold;
                margin-top: 50px;
            }

            .answer-item {
                margin-top: 30px;

                .detail-edit-con {
                    margin-top: 15px;
                }

                .detaildescription {
                    font-size: 18px;
                    color: #000;
                    margin-top: 15px;
                }

                .row {
                    align-items: center;

                    a.more-detail-clicker {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        cursor: pointer;

                        &:hover {
                            background: #DFEEFF;

                            svg {

                                ellipse {
                                    fill: #5CA3F6;
                                }
                            }
                        }
                    }
                }
            }
        }

        .question-delete-modal-wrapper {
            transition-duration: .2s;
            z-index: 1000;
            opacity: 0;
            pointer-events: none;
            position: fixed;
            width: unset;
            height: unset;
            left: calc(50% - 300px);
            top: 150px;

            .form-modal-mask {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 9;
            }

            .form-modal-header {
                position: relative;
                padding: 33px 30px 23px;
                font-size: 24px;
                font-weight: 700;
                line-height: 1.75;
                text-align: center;
            }

            .form-modal-body {
                padding: 0 120px;
                font-size: 18px;
            }

            .form-modal-footer {
                margin: 0;
                padding: 30px 20px;
                text-align: center;

                .custom-btn-outline {
                    font-size: 18px;
                    padding: 5px 30px;
                    border-radius: 40px;
                    border: 1px solid #5CA3F6;
                    color: #5CA3F6;

                    &.cancel-btn {
                        border: none;
                        color: #000;
                    }
                }

                .btn-primary {
                    font-size: 18px;
                    border-radius: 40px;
                    padding: 5px 30px;
                    border: 1px solid #5CA3F6;
                    margin-left: 150px;
                }
            }
        
            &.is-open {
                opacity: 1;
                pointer-events: all;
            }

            .question-delete-modal-content {
                position: relative;
                background-color: #fff;
                top: 0;
                width: 600px;
                height: 268px;
                z-index: 10;
                background-color: #fff;
                border-radius: 10px;
                overflow: hidden;
                transform: translateY(20px);
                transition: .4s;
                box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        
                .question-delete-modal-title {
                    font-size: 24px;
                    font-weight: bold;
                    text-align: center;
                    padding: 67px 0 56px;
                    line-height: 1.75;
                }
        
                .question-delete-modal-body {
                    font-size: 18px;
                    max-width: 477px;
                    margin: 0 auto 57px;
                    line-height: 1.75;
                }
        
                .question-delete-modal-footer {
                    text-align: center;
                }
            }
        }
    }
}

.popover.open {
    opacity: 1;
}

.question-control-tooltip {
    border: none;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
    border-radius: 0;
    position: relative;

    &::before {
        content: "";
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 10px 10px 10px 10px;
        border-color: #FFF transparent transparent transparent;
        display: inline-block;
        position: absolute;
        bottom: -20px;
        left: calc(50% - 5px);
    }

    .tooltip-inner {
        background: #fff;
        color: #131340;
        padding: 0;

        .more-btn-grp {
            display: flex;

            .question-btn-item {
                font-size: 16px;
                font-weight: bold;
                padding: 10px;
                cursor: pointer;

                &:hover {
                    background: #DFEEFF;
                }
            }
        }
    }
}