.main-in {
    &.question-main-in {
        padding: 80px;
        line-height: 1.75;
        letter-spacing: 0.1em;

        .main-content {
            background: unset;
            padding: 0;

            .question-tab-con {
                border-bottom: 1px solid #E9E9E9;
                margin-bottom: 25px;

                a {
                    font-size: 18px;
                    font-weight: bold;
                    color: #8D909E;
                    padding: 5px 10px;
                    margin-right: 40px;

                    &:hover {
                        background: #DDD;
                        border-radius: 5px;
                    }

                    &.active {
                        color: #131340;
                        position: relative;

                        &::after {
                            position: absolute;
                            content: "";
                            height: 5px;
                            bottom: 0;
                            margin: 0;
                            left: 0;
                            right: 0;
                            width: 100%;
                            background: #5CA3F6;
                            border-radius: 10px;
                        }
                    }
                }
            }

            .staff-header {

                select {
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75 1.625L7.88333 8.02313L14.0167 1.625' stroke='%238D909E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    background-position-x: calc(100% - 7px);
                    background-position-y: 14px;
                }

                .staff-sort {
                    font-size: 16px;
                    height: 38px;
                    padding: 5px 30px 5px 10px;
                    max-width: 160px;
                    cursor: pointer;
                    background: #FFF;
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75 1.625L7.88333 8.02313L14.0167 1.625' stroke='%238D909E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    background-position: 95% center;
                }
            }

            .selected-category {
                margin-bottom: 20px;
            }

            .menu-list {

                .row-menu-one {
                    margin-right: 0;

                    .container-menu-one-in {
                        box-shadow: 0px 0px 8px rgba(151, 151, 151, 0.25);
                        border: none;

                        &:hover {
                            background: rgba(0, 0, 0, 0.1);
                            border: none;
                        }
    
                        .menu-img {
                            padding: 30px 0 0 30px;
                        }

                        .comment-info {
                            padding: 36px 30px 30px 10px;

                            .comment-ttl {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .menu-ttl {
                                    height: unset;
                                    font-size: 20px;
                                    font-weight: bold;
                                    line-height: 1.75;
                                    margin-top: 0;
                                    margin-bottom: 10px;
                                    max-width: calc(100% - 90px);
                                }

                                .menu-time {
                                    font-size: 16px;
                                    color: #8D909E;
                                }
                            }

                            .comment-content {
                                font-size: 16px;
                                line-height: 1.75;
                                margin-bottom: 20px;
                            }

                            .selected-treat-subcategory {
                                display: inline-block;
                                padding: 3px 10px;
                                margin: 0 5px 10px;
                                background-color: #E2F0FF;
                                border-radius: 3px;

                                .selected-option {
                                    font-size: 14px;
                                    line-height: 1.75;
                                    padding: 0;
                                }
                            }

                            .icon-grp {

                                p {
                                    display: flex;
                                    align-items: center;

                                    &.like-cnt {
                                        margin-right: 15px;
                                    }

                                    span {
                                        font-size: 16px;
                                        color: #8D909E;
                                        margin-left: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .question-menu-modal-wrapper {
            transition-duration: .2s;
            z-index: 1000;
            opacity: 0;
            pointer-events: none;

            position: absolute;
            width: unset;
            height: unset;
            left: calc(50% - 425px);
            top: 50px;

            .form-modal-mask {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 9;
            }

            .form-modal-header {
                position: relative;
                padding: 30px 30px 16px;
                font-size: 24px;
                font-weight: 700;
                line-height: 1.75;

                .form-modal-close-btn {
                    position: absolute;
                    cursor: pointer;
                    right: 22.5px;
                    top: 22.5px;
                    height: 15px;
                    width: 15px;
                    display: flex;
                }
            }

            .form-modal-body {
                padding: 0 30px;

                .create-menu-content {

                    .scroll-area-doctor-menu {
                        position: relative;
                        width: unset;
                        height: 400px;
                    }
                }

                .operation-option.row {
                    margin-left: 0;
                    margin-right: 0;

                    .option-category {
                        height: unset;
                        overflow-y: unset;

                        .list-group {

                            .list-category {

                                .list-category-p {
                                    font-size: 18px;
                                    line-height: 1.75;
                                    padding: 14px 0 14px 10px;
                                }
                            }

                            .list-group-item-action:hover, .list-group-item-action:focus {
                                z-index: 0;
                                background: #E1E6EC;
                                color: #5CA3F6;
                            }
                        }
                    }

                    .option-content {
                        padding: 0;

                        .custom-control.custom-radio {
                            padding: 14px 0 14px 40px;
                            font-size: 18px;

                            .custom-control-label {
                                &::before {
                                    top: 9px;
                                }

                                &::after {
                                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z' fill='%23FFFFFF'/%3E%3C/svg%3E");
                                    width: 24px;
                                    height: 24px;
                                    left: -28px;
                                    top: 5px;
                                }
                            }

                            &:hover {
                                background: #E1E6EC;
                                color: #5CA3F6;
                                
                                .custom-control-label {
                                    &::before {
                                        border-color: #5CA3F6;
                                    }
                                }
                            }

                            .custom-control-input {

                                &:checked ~ {
                                    .custom-control-label {
                                        color: #5CA3F6;

                                        &::before {
                                            // border-color: #5CA3F6;
                                            background-color: transparent;
                                        }

                                        &::after {
                                            background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.875 6.5C0.875 3.3934 3.3934 0.875 6.5 0.875C9.6051 0.878616 12.1214 3.3949 12.125 6.5C12.125 9.6066 9.6066 12.125 6.5 12.125C3.3934 12.125 0.875 9.6066 0.875 6.5ZM6.53844 9.07297L9.74703 4.71875C9.8555 4.58449 9.88142 4.40149 9.81449 4.24239C9.74756 4.0833 9.59861 3.97386 9.42679 3.95752C9.25496 3.94118 9.08806 4.02059 8.99234 4.16422L6.07344 8.12563L4.16281 6.59703C3.96062 6.43523 3.66555 6.46797 3.50375 6.67016C3.34195 6.87234 3.37469 7.16742 3.57687 7.32922L5.86812 9.16109C5.96829 9.23939 6.09571 9.27416 6.22176 9.25759C6.34781 9.24102 6.46192 9.17449 6.53844 9.07297Z' fill='%235CA3F6'/%3E%3C/svg%3E%0A");
                                            background-size: cover;
                                            width: 18px;
                                            height: 18px;
                                            top: 8px;
                                            left: -25px;
                                        }
                                    }
                                }

                                &:focus ~ {
                                    .custom-control-label {
                                        &::before {
                                            box-shadow: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .form-modal-footer {
                margin: 0 30px 30px;
                padding: 10px 20px;
                text-align: right;

                .custom-btn-outline {
                    font-size: 18px;
                    padding: 5px 30px;
                    border-radius: 5px;
                    border: 1px solid #5CA3F6;
                    color: #5CA3F6;
                }

                .btn-primary {
                    font-size: 18px;
                    border-radius: 5px;
                    padding: 5px 30px;
                    border: 1px solid #5CA3F6;
                    margin-left: 50px;
                }
            }
        
            &.is-open {
                opacity: 1;
                pointer-events: all;
            }
            .question-menu-modal-content {
                position: relative;
                background-color: #fff;
                top: 0;
                width: 899px;
                height: unset;
                min-height: 600px;
                z-index: 10;
                background-color: #fff;
                border-radius: 10px;
                overflow: hidden;
                transform: translateY(20px);
                transition: .4s;
                box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        
                .question-menu-modal-title {
                    font-size: 24px;
                    font-weight: bold;
                    text-align: center;
                    padding: 67px 0 56px;
                    line-height: 1.75;
                }
        
                .question-menu-modal-body {
                    font-size: 18px;
                    max-width: 477px;
                    margin: 0 auto 57px;
                    line-height: 1.75;
                }
        
                .question-menu-modal-footer {
                    text-align: center;
                }
            }
        }
    }
}