.main-in {
    &.reset-password-main-in {
        padding: 100px 50px 50px 50px;
        line-height: 1.75;

        .main-content {
            padding: 60px;

            .page-title {
                font-size: 31px;
                font-weight: bold;
                color: #000;
                margin-bottom: 20px;
            }

            .page-notice-msg {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 70px;
                color: #000;
            }

            .p-title {
                font-size: 18px;
                color: #5F6377;
                margin-bottom: 10px;
            }

            .p-content {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 30px;
            }

            .input-item-con button {
                padding: 10px 30px;
                min-width: unset;
                font-size: 18px;
                background: #B6B6B6;
                border-radius: 5px;
            }
        }

        .form-modal-wrapper {

            .form-modal-content {
                width: 850px;
                height: 435px;

                .form-modal-header {
                    padding: 9px 0;

                    .form-modal-title {
                        font-size: 24px;
                        font-weight: bold;
                    }
                }

                .form-modal-body {
                    padding: 35px 165px;

                    .main-modal {
                        padding: 0;

                        .new-email-con {
                            margin: 65px 30px 100px;

                            label {
                                font-size: 16px;
                                color: #5F6377;
                                margin-bottom: 5px;
                            }
                        }

                        .btn-grp-con {
                            display: flex;
                            justify-content: space-between;

                            .btn-secondary {
                                padding: 10px 30px;
                                color: #131340;
                                font-size: 18px;
                                line-height: 1.75;
                                background: #E3E6E8;
                                border-radius: 40px;
                            }

                            .btn-primary {
                                padding: 10px 30px;
                                font-size: 18px;
                                color: #5CA3F6;
                                background: #F3F8FF;
                                border-radius: 40px;

                                &.active-btn {
                                    background: #5CA3F6;
                                    color: #FFF;
                                }
                            }
                        }
                    }
                }
            }

            &#password-modal {
                .form-modal-content {
                    height: 645px;

                    .form-modal-body {
                        padding: 50px 185px;

                        .label-con {
                            display: flex;
                            justify-content: space-between;
                        }

                        label {
                            font-size: 16px;
                            color: #5F6377;
                            margin-bottom: 5px;

                            &.sm-lab {
                                color: #5F6377;
                                font-size: 12px;
                                font-weight: bold;
                            }
                        }

                        .password-item {
                            margin: 30px 20px 35px;

                            &.confirm-pass {
                                margin-bottom: 75px;
                            }
                        }
                    }
                }
            }
        }
    }
}