.sidebar {
    width: 240px;
    line-height: 1.75;
    letter-spacing: 0.1em;
    box-shadow: unset;

    .menu-avatar-container {

        .menu-avatar-img-container {
            text-align: center;
            margin-bottom: 0;

            img {
                width: 115px;
                height: 115px;
                object-fit: cover;
            }
        }

        .menu-avatar-name {
            font-size: 24px;
            font-weight: bold;
            color: #131340;
            text-align: center;
            margin-bottom: 32px;
        }
    }

    .menu {
        
        ul {

            li {

                a {

                    p {
                        margin: 0 25px;
                        width: 32px;
                        height: 32px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    span {
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .logo {
        margin-top: 27px;
        margin-bottom: 18px;
    }
}

.menu ul li a {
    padding: 15px 25px;
    height: unset;
    margin: 0 5px;
    border-radius: 10px;
}
.menu ul li a.active::before, .menu ul li a:hover::before {
    display: none;
}
.menu ul li a:hover {
    background: #F5F5F5;
    color: #5F6377;
}
.menu ul li a:hover p.stroke svg path {
    stroke: #5F6377;
    fill: unset;
}
.menu ul li a:hover p.fill svg path {
    fill: #5F6377;
    stroke: unset;
}
.menu ul li a.active {
    background: #D3E7FF;
    color: #5CA3F6;
    opacity: 1;
}
.menu ul li a.active p.stroke svg path {
    stroke: #5CA3F6;
    fill: unset;
}
.menu ul li a.active p.fill svg path {
    fill: #5CA3F6;
    stroke: unset;
}
.sidebar .menu ul li a p {
    margin: 0 25px 0 0;
}
.sidebar-menu-list > li {
    margin-bottom: 0;
}